  /* Home screen  */
@media only screen and (max-width: 768px) {
  .m_parent{
    background-position: center;
  }
  .m_child{
    flex-direction: column-reverse;
    padding: 12em 3em 0 3em ;
    text-align: center;
  }

  .hr_1,.hr_2{
    text-align: center;
    transform: rotate(180deg);
    position: absolute;
    
    height: 0;
    width: 8em;
  }
  .hr_1{
    margin: 0;
  }

  .hr_2{
    margin-top: 1em;
  }
  .social-media{
    display: inline-block;
    justify-content: space-around;
  }

  .social-media i{
    margin: 10px;
  }
  .name{
    display: block;
    text-align: center;
  }
  .name{
    padding: 0;

}

}


 /* A propos */
 @media (max-width: 900px) {
  .down{
    padding: 5em 2em 3em 2em;
  }
  .first_image{
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  .about{
    display: none;

  }
  .ab-block1{
    padding:5em 3em 5em 2em ;
    text-align: center;
  }
  
  .ab-{
    display: flex;
    flex-direction: column;
    display: inline-block;
    justify-content: center;
    align-items: center;
}
.txt-about span{
  color: #fff;
  font-size: 0.9rem;
  padding: 0;
}
  
 }

 /* simple contact */
 @media (max-width: 900px) {
  .simple-contact{
    flex-direction: column;
    text-align: center;
    padding: 3rem;
  }
  .down-contact{
    background-position: center;
  }
 }
  




/* Portfolio */

@media only screen and (max-width: 768px) {





  .portfolio {
    padding: 5vw ;
    background-color: #fff;
  } 
  #porto{
    color:#111;
  }/* 
  .sec-image{
    min-width: 2vw;
    

  }
  .sec-image img{
    border-radius: 5px;
    position: relative;
    width: 15em;
    top: 2em;
    right: 4rem;
  } */



}
